{% extends "morse_logs/base.html" %}

{% block content %}
<title>Cipher</title>
<div class="container jumbotron">
    <br/>
<p style="font-size: 65px"><strong>Cipher</strong></p>
    <div class="form-group form-group-lg">
    <form action="" method="get" >
        <br/><br/>
        <input class="form-control input-lg" name="a1" type="text" placeholder="Enter a word or sentence here">
        <br/><br/><br/>
        <div class="well well-lg">
            <output name="a2"  style="font-size: 30px"><strong>{{result}}</strong></output>
        </div>
        <br/><br/><br/>
                <button type="submit" name="cipher" class="btn-group-justified" style="font-size:18px"><strong>Cipher</strong></button>
    </form>
    </div>
</div>
{% endblock content  %}


