{% extends "morse_logs/base.html" %}

{% block content %}
<title>Decipher</title>
<div class="container">
    <h1>Decipher</h1>
        <form action="" method="get" >
            <textarea rows="10" cols="50" name='a1' ></textarea>
            <textarea rows="10" cols="50" name='a2' > {{result}} </textarea>
            <button type="submit" name="cipher">Cipher</button>


            {% comment %}
            <textarea rows="10" cols="50" name="a3" > {{result}} </textarea>
            {% endcomment %}
        </form>
</div>
{% endblock content  %}

