{% extends "morse_logs/base.html" %}
{% block content %}
{% load static %}
<title>Home</title>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<div class="container jumbotron" >
    <h1>{{user}}, welcome to Morse Code World!</h1>
    <img src="{% static 'morse_logs/img/index.jpg' %}" alt="Y" style="width:1000px;height:680px; max-width:100%; position:relative;">
</div>
{% endblock content %}
