{% extends "morse_logs/base.html" %}

{% block content %}
{% load static %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="{% static 'morse_logs/css/style.css' %}">
<link href="{% static 'morse_logs/js/jquery-ui/jquery-ui.min.css' %}" rel="stylesheet">
<link href="{% static 'morse_logs/js/jquery-ui/jquery-ui.structure.min.css' %}" rel="stylesheet">
<link href="{% static 'morse_logs/js/jquery-ui/jquery-ui.theme.min.css' %}" rel="stylesheet">

<br/>
<div class="jumbotron">
<p style="font-size: 65px"><strong>Tutorials</strong></p>

<div id="menu">
    <div>
        <ul class="nav nav-pills nav-justified">
            <li><a data-toggle="tab" href="#" class="justClicka">A</a></li>
            <li><a data-toggle="tab" href="#" class="justClickb">B</a></li>
            <li><a data-toggle="tab" href="#" class="justClickc">C</a></li>
            <li><a data-toggle="tab" href="#" class="justClickd">D</a></li>
            <li><a data-toggle="tab" href="#" class="justClicke">E</a></li>
            <li><a data-toggle="tab" href="#" class="justClickf">F</a></li>
            <li><a data-toggle="tab" href="#" class="justClickg">G</a></li>
            <li><a data-toggle="tab" href="#" class="justClickh">H</a></li>
            <li><a data-toggle="tab" href="#" class="justClicki">I</a></li>
            <li><a data-toggle="tab" href="#" class="justClickj">J</a></li>
            <li><a data-toggle="tab" href="#" class="justClickk">K</a></li>
            <li><a data-toggle="tab" href="#" class="justClickl">L</a></li>
            <li><a data-toggle="tab" href="#" class="justClickm">M</a></li>
            <li><a data-toggle="tab" href="#" class="justClickn">N</a></li>
        </ul>
    </div>
    <div>
        <ul class="nav nav-pills nav-justified">
            <li><a data-toggle="tab" href="#" class="justClickm">M</a></li>
            <li><a data-toggle="tab" href="#" class="justClickn">N</a></li>
            <li><a data-toggle="tab" href="#" class="justClicko">O</a></li>
            <li><a data-toggle="tab" href="#" class="justClickp">P</a></li>
            <li><a data-toggle="tab" href="#" class="justClickq">Q</a></li>
            <li><a data-toggle="tab" href="#" class="justClickr">R</a></li>
            <li><a data-toggle="tab" href="#" class="justClicks">S</a></li>
            <li><a data-toggle="tab" href="#" class="justClickt">T</a></li>
            <li><a data-toggle="tab" href="#" class="justClicku">U</a></li>
            <li><a data-toggle="tab" href="#" class="justClickv">V</a></li>
            <li><a data-toggle="tab" href="#" class="justClickw">W</a></li>
            <li><a data-toggle="tab" href="#" class="justClickx">X</a></li>
            <li><a data-toggle="tab" href="#" class="justClicky">Y</a></li>
            <li><a data-toggle="tab" href="#" class="justClickz">Z</a></li>
        </ul>
    </div>
        <div>
        <ul class="nav nav-pills nav-justified">
            <li><a data-toggle="tab" href="#" class="justClickZER0">0</a></li>
            <li><a data-toggle="tab" href="#" class="justClickONE">1</a></li>
            <li><a data-toggle="tab" href="#" class="justClickTWO">2</a></li>
            <li><a data-toggle="tab" href="#" class="justClickTHREE">3</a></li>
            <li><a data-toggle="tab" href="#" class="justClickFOUR">4</a></li>
            <li><a data-toggle="tab" href="#" class="justClickFIVE">5</a></li>
            <li><a data-toggle="tab" href="#" class="justClickSIX">6</a></li>
            <li><a data-toggle="tab" href="#" class="justClickSEVEN">7</a></li>
            <li><a data-toggle="tab" href="#" class="justClickEIGHT">8</a></li>
            <li><a data-toggle="tab" href="#" class="justClickNINE">9</a></li>
        </ul>
    </div>
</div>

<div class="content">
</div>
    <div class="content1 well" style="display:none" id="alphabet">
        <h1>A</h1>
        <img src="{% static 'morse_logs/img/A.jpg' %}" alt="A" style="width:128px;height:128px;">
        <audio controls>
          <source src="{% static 'morse_logs/audio/A.mp3' %}" type="audio/mp3">
        </audio>
    </div>
    <div class="content2 well"  style="display:none" id="alphabet">
        <h1>B</h1>
        <img src="{% static 'morse_logs/img/B.jpg' %}" alt="B" style="width:128px;height:128px;">
        <audio controls>
          <source src="{% static 'morse_logs/audio/B.mp3' %}" type="audio/mp3">
        </audio>
    </div>
    <div class="content3 well"  style="display:none" id="alphabet">
        <h1>C</h1>
        <img src="{% static 'morse_logs/img/C.jpg' %}" alt="C" style="width:128px;height:128px;">
        <audio controls>
          <source src="{% static 'morse_logs/audio/C.mp3' %}" type="audio/mp3">
        </audio>
    </div>
    <div class="content4 well"  style="display:none" id="alphabet">
        <h1>D</h1>
        <img src="{% static 'morse_logs/img/D.jpg' %}" alt="D" style="width:128px;height:128px;">
        <audio controls>
          <source src="{% static 'morse_logs/audio/D.mp3' %}" type="audio/mp3">
        </audio>
    </div>
    <div class="content5 well"  style="display:none" id="alphabet">
        <h1>E</h1>
        <img src="{% static 'morse_logs/img/E.jpg' %}" alt="E" style="width:128px;height:128px;">
        <audio controls>
          <source src="{% static 'morse_logs/audio/E.mp3' %}" type="audio/mp3">
        </audio>
    </div>
    <div class="content6 well"  style="display:none" id="alphabet">
        <h1>F</h1>
        <img src="{% static 'morse_logs/img/F.jpg' %}" alt="F" style="width:128px;height:128px;">
        <audio controls>
          <source src="{% static 'morse_logs/audio/F.mp3' %}" type="audio/mp3">
        </audio>
    </div>
    <div class="content7 well"  style="display:none" id="alphabet">
        <h1>G</h1>
        <img src="{% static 'morse_logs/img/G.jpg' %}" alt="G" style="width:128px;height:128px;">
        <audio controls>
          <source src="{% static 'morse_logs/audio/G.mp3' %}" type="audio/mp3">
        </audio>
    </div>
    <div class="content8 well"  style="display:none" id="alphabet">
        <h1>H</h1>
        <img src="{% static 'morse_logs/img/H.jpg' %}" alt="H" style="width:128px;height:128px;">
        <audio controls>
          <source src="{% static 'morse_logs/audio/H.mp3' %}" type="audio/mp3">
        </audio>
    </div>
    <div class="content9 well"  style="display:none" id="alphabet">
        <h1>I</h1>
        <img src="{% static 'morse_logs/img/I.jpg' %}" alt="I" style="width:128px;height:128px;">
        <audio controls>
          <source src="{% static 'morse_logs/audio/I.mp3' %}" type="audio/mp3">
        </audio>
    </div>
    <div class="content10 well"  style="display:none" id="alphabet">
        <h1>J</h1>
        <img src="{% static 'morse_logs/img/J.jpg' %}" alt="J" style="width:128px;height:128px;">
        <audio controls>
          <source src="{% static 'morse_logs/audio/J.mp3' %}" type="audio/mp3">
        </audio>
    </div>
    <div class="content11 well"  style="display:none" id="alphabet">
        <h1>K</h1>
        <img src="{% static 'morse_logs/img/K.jpg' %}" alt="K" style="width:128px;height:128px;">
        <audio controls>
          <source src="{% static 'morse_logs/audio/K.mp3' %}" type="audio/mp3">
        </audio>
    </div>
    <div class="content12 well"  style="display:none" id="alphabet">
        <h1>L</h1>
        <img src="{% static 'morse_logs/img/L.jpg' %}" alt="L" style="width:128px;height:128px;">
        <audio controls>
          <source src="{% static 'morse_logs/audio/L.mp3' %}" type="audio/mp3">
        </audio>
    </div>
    <div class="content13 well"  style="display:none" id="alphabet">
        <h1>M</h1>
        <img src="{% static 'morse_logs/img/M.jpg' %}" alt="M" style="width:128px;height:128px;">
        <audio controls>
          <source src="{% static 'morse_logs/audio/M.mp3' %}" type="audio/mp3">
        </audio>
    </div>
    <div class="content14 well"  style="display:none" id="alphabet">
        <h1>N</h1>
        <img src="{% static 'morse_logs/img/N.jpg' %}" alt="N" style="width:128px;height:128px;">
        <audio controls>
          <source src="{% static 'morse_logs/audio/N.mp3' %}" type="audio/mp3">
        </audio>
    </div>
    <div class="content15 well"  style="display:none" id="alphabet">
        <h1>O</h1>
        <img src="{% static 'morse_logs/img/O.jpg' %}" alt="O" style="width:128px;height:128px;">
        <audio controls>
          <source src="{% static 'morse_logs/audio/O.mp3' %}" type="audio/mp3">
        </audio>
    </div>
    <div class="content16 well"  style="display:none" id="alphabet">
        <h1>P</h1>
        <img src="{% static 'morse_logs/img/P.jpg' %}" alt="P" style="width:128px;height:128px;">
        <audio controls>
          <source src="{% static 'morse_logs/audio/P.mp3' %}" type="audio/mp3">
        </audio>
    </div>
    <div class="content17 well"  style="display:none" id="alphabet">
        <h1>Q</h1>
        <img src="{% static 'morse_logs/img/Q.jpg' %}" alt="Q" style="width:128px;height:128px;">
        <audio controls>
          <source src="{% static 'morse_logs/audio/Q.mp3' %}" type="audio/mp3">
        </audio>
    </div>
    <div class="content18 well"  style="display:none" id="alphabet">
        <h1>R</h1>
        <img src="{% static 'morse_logs/img/R.jpg' %}" alt="R" style="width:128px;height:128px;">
        <audio controls>
          <source src="{% static 'morse_logs/audio/R.mp3' %}" type="audio/mp3">
        </audio>
    </div>
    <div class="content19 well"  style="display:none" id="alphabet">
        <h1>S</h1>
        <img src="{% static 'morse_logs/img/S.jpg' %}" alt="S" style="width:128px;height:128px;">
        <audio controls>
          <source src="{% static 'morse_logs/audio/S.mp3' %}" type="audio/mp3">
        </audio>
    </div>
    <div class="content20 well"  style="display:none" id="alphabet">
        <h1>T</h1>
        <img src="{% static 'morse_logs/img/T.jpg' %}" alt="T" style="width:128px;height:128px;">
        <audio controls>
          <source src="{% static 'morse_logs/audio/T.mp3' %}" type="audio/mp3">
        </audio>
    </div>
    <div class="content21 well"  style="display:none" id="alphabet">
        <h1>U</h1>
        <img src="{% static 'morse_logs/img/U.jpg' %}" alt="U" style="width:128px;height:128px;">
        <audio controls>
          <source src="{% static 'morse_logs/audio/U.mp3' %}" type="audio/mp3">
        </audio>
    </div>
    <div class="content22 well"  style="display:none" id="alphabet">
        <h1>V</h1>
        <img src="{% static 'morse_logs/img/V.jpg' %}" alt="V" style="width:128px;height:128px;">
        <audio controls>
          <source src="{% static 'morse_logs/audio/V.mp3' %}" type="audio/mp3">
        </audio>
    </div>
    <div class="content23 well"  style="display:none" id="alphabet">
        <h1>W</h1>
        <img src="{% static 'morse_logs/img/W.jpg' %}" alt="W" style="width:128px;height:128px;">
        <audio controls>
          <source src="{% static 'morse_logs/audio/W.mp3' %}" type="audio/mp3">
        </audio>
    </div>
    <div class="content24 well"  style="display:none" id="alphabet">
        <h1>X</h1>
        <img src="{% static 'morse_logs/img/X.jpg' %}" alt="X" style="width:128px;height:128px;">
        <audio controls>
          <source src="{% static 'morse_logs/audio/X.mp3' %}" type="audio/mp3">
        </audio>
    </div>
    <div class="content25 well"  style="display:none" id="alphabet">
        <h1>Y</h1>
        <img src="{% static 'morse_logs/img/Y.jpg' %}" alt="Y" style="width:128px;height:128px;">
        <audio controls>
          <source src="{% static 'morse_logs/audio/Y.mp3' %}" type="audio/mp3">
        </audio>
    </div>
    <div class="content26 well"  style="display:none" id="alphabet">
        <h1>Z</h1>
        <img src="{% static 'morse_logs/img/Z.jpg' %}" alt="Z" style="width:128px;height:128px;">
        <audio controls>
          <source src="{% static 'morse_logs/audio/Z.mp3' %}" type="audio/mp3">
        </audio>
    </div>
    <div class="content27 well"  style="display:none" id="alphabet">
        <h1>ZERO</h1>
        <img src="{% static 'morse_logs/img/ZERO.jpg' %}" alt="ZERO" style="width:128px;height:128px;">
        <audio controls>
          <source src="{% static 'morse_logs/audio/ZERO.mp3' %}" type="audio/mp3">
        </audio>
    </div>
    <div class="content28 well"  style="display:none" id="alphabet">
        <h1>ONE</h1>
        <img src="{% static 'morse_logs/img/ONE.jpg' %}" alt="ONE" style="width:128px;height:128px;">
        <audio controls>
          <source src="{% static 'morse_logs/audio/ONE.mp3' %}" type="audio/mp3">
        </audio>
    </div>
    <div class="content29 well"  style="display:none" id="alphabet">
        <h1>TWO</h1>
        <img src="{% static 'morse_logs/img/TWO.jpg' %}" alt="TWO" style="width:128px;height:128px;">
        <audio controls>
          <source src="{% static 'morse_logs/audio/TWO.mp3' %}" type="audio/mp3">
        </audio>
    </div>
    <div class="content30 well"  style="display:none" id="alphabet">
        <h1>THREE</h1>
        <img src="{% static 'morse_logs/img/THREE.jpg' %}" alt="THREE" style="width:128px;height:128px;">
        <audio controls>
          <source src="{% static 'morse_logs/audio/THREE.mp3' %}" type="audio/mp3">
        </audio>
    </div>
    <div class="content31 well"  style="display:none" id="alphabet">
        <h1>FOUR</h1>
        <img src="{% static 'morse_logs/img/FOUR.jpg' %}" alt="FOUR" style="width:128px;height:128px;">
        <audio controls>
          <source src="{% static 'morse_logs/audio/FOUR.mp3' %}" type="audio/mp3">
        </audio>
    </div>
    <div class="content32 well"  style="display:none" id="alphabet">
        <h1>FIVE</h1>
        <img src="{% static 'morse_logs/img/FIVE.jpg' %}" alt="FIVE" style="width:128px;height:128px;">
        <audio controls>
          <source src="{% static 'morse_logs/audio/FIVE.mp3' %}" type="audio/mp3">
        </audio>
    </div>
    <div class="content33 well"  style="display:none" id="alphabet">
        <h1>SIX</h1>
        <img src="{% static 'morse_logs/img/SIX.jpg' %}" alt="SIX" style="width:128px;height:128px;">
        <audio controls>
          <source src="{% static 'morse_logs/audio/SIX.mp3' %}" type="audio/mp3">
        </audio>
    </div>
    <div class="content34 well"  style="display:none" id="alphabet">
        <h1>SEVEN</h1>
        <img src="{% static 'morse_logs/img/SEVEN.jpg' %}" alt="SEVEN" style="width:128px;height:128px;">
        <audio controls>
          <source src="{% static 'morse_logs/audio/SEVEN.mp3' %}" type="audio/mp3">
        </audio>
    </div>
    <div class="content35 well"  style="display:none" id="alphabet">
        <h1>EIGHT</h1>
        <img src="{% static 'morse_logs/img/EIGHT.jpg' %}" alt="EIGHT" style="width:128px;height:128px;">
        <audio controls>
          <source src="{% static 'morse_logs/audio/EIGHT.mp3' %}" type="audio/mp3">
        </audio>
    </div>
    <div class="content36 well"  style="display:none" id="alphabet">
        <h1>NINE</h1>
        <img src="{% static 'morse_logs/img/NINE.jpg' %}" alt="NINE" style="width:128px;height:128px;">
        <audio controls>
          <source src="{% static 'morse_logs/audio/NINE.mp3' %}" type="audio/mp3">
        </audio>
    </div>
</div>
</div>


<script src="{% static 'morse_logs/js/jquery-3.4.1.min.js' %}"></script>
<script src="{% static 'morse_logs/js/jquery-ui/jquery-ui.js' %}"></script>
<script src="{% static 'morse_logs/js/app.js' %}"></script>
{% endblock content %}

