{% extends "morse_logs/base.html" %}

{% block content %}
<title>Cipher</title>
<div class="container">
<h1>Cipher</h1>
    <div class="form-group form-group-lg">
    <form action="" method="get" >
<!--        <input class="form-control input-lg" id="inputlg" type="text" name="a1">-->
        <textarea rows="10" cols="50" name='a1' ></textarea>
        <textarea rows="10" cols="50" name='a2' > {{result}} </textarea>
        <button type="submit" name="decipher">Decipher</button>
    </form>
    </div>
</div>
{% endblock content  %}


